body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.container-fluid {
  padding: 2rem 6rem 4rem;
}

.carousel-item {
  padding: 7% 12%;
}

#cta {
  background-color: #ff4c68;
  color: white;
  padding: 5% 15%;
}

.download-button {
  margin: 5rem 1rem 0 1rem;
}

.ending-section {
  font-size: 2.5rem;
  font-weight: 900;
}

#features {
  padding: 7% 12%;
  background-color: white;
  position: relative;
}

.feature-icon {
  color: #ef8172;
  padding-bottom: 1rem;
  transition: .5s;
}

.feature-icon:hover {
  color: #ff4c68;
  transform: scale(1.2);
}

#footer {
  padding: 5%;
}

.footer-icon {
  margin: 1rem;
  color: black;
  padding-bottom: 3rem;
}

/* heading-section */
h1, h2, h3 {
  line-height: 1.5;
  font-weight: 700;
  font-size: 3rem;
}

#title h1 {
  font-size: 4rem;
  font-weight: 900;
}

#features h3 {
  font-size: 1.7rem;
}

.navbar {
    padding-bottom: 4.5rem;
    padding-left: 0;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 3rem;
}

.nav-item {
  padding-left: 2rem;
}

p {
  /* padding: 0 8%; */
  word-wrap: break-word;
  color: #8f8f8f;
}

#press {
  background-color: #ef8172;
  padding-bottom: 2rem;
}

.press-image {
  width: 12%;
  margin: auto 3.5rem;
}

#pricing {
  padding: 3% 7%;
}

.pricing-section {
  padding-top: 3%
}

#testimonials {
  background-color: #ef8172;
  color: white;
  position: relative;
}

.testimonial-image {
  border-radius: 50%;
  width: 15%;
  margin: 1rem;
}

#title {
  text-align: left;
  background-color: #ff4c68;
  color: white;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 26%;
}

@media (max-width: 1080px) {
  #title {
    text-align: center;
  }
  .title-image {
    padding-top: 3%;
    transform: rotate(0deg);
    position: static;
  }
}
